body{
    /* height: 100vh; */
    overflow-x: hidden;
    /* background-color: #a4b3b6; */
    background-color: #f1f1f1;
}

main {
float: right;
width: 100%;
position: absolute;
/* right: 15%;
left: 5%;  */
height: 100vh;
align-items: center;
/* background-color: rgb(72, 9, 245); */
}
.card {
    display: inline-block;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 250px;
    height: 300px;
    overflow: hidden;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card .title {
    padding: 10px;
    background-color: #f5f5f5;
    text-align: center;
    font-weight: bold;
}
.bookcard{
    display: inline-block;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 400px;
    overflow: hidden;
}
.bookcard img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.bookcard .title {
    padding: 10px;
    background-color: #f5f5f5;
    text-align: center;
    font-weight: bold;
}
.bookcard button{
    margin-right: 10px;
    float: right;
}
.fas.fa-heart {
    color: gray;
    float: left;
  }
  
  .fas.fa-heart.active {
    color: red;
    float: left;
  }